services:
  app:
    build: .
    environment:
      - DATABASE_URL=postgres://postgres:password@host.docker.internal:5432/shop_db
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - app-network
    depends_on:
      - redis

  redis:
    image: redis:latest
    networks:
      - app-network

  nginx:
    image: nginx:latest
    ports:
      - "80:80" 
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro 
    networks:
      - app-network
    depends_on:
      - app

networks:
  app-network:
    driver: bridge